.advanced {
    position: absolute;
    left: 0;
    bottom: 0;
}

.advancedContents {
    background: var(--colors-ContrastDarkest);
    border: 1px solid var(--colors-ContrastDark);
    border-bottom: 0;
    padding: 1rem;
    position: absolute;
    left: 100%;
    bottom: 0;
    width: max-content;
    min-width: 300px;
}

.advancedButton {
    color: var(--colors-ContrastBrightest);
    padding: 0 var(--spacing-Full);
    vertical-align: middle;
    cursor: pointer;
    line-height: var(--spacing-GoldenUnit);
    background: var(--colors-ContrastDarkest);
    display: inline-flex;
    align-items: baseline;
    gap: 1ch;
    border: 1px solid var(--colors-ContrastDark);
    position: relative;
    border-left: 0;
    border-bottom: 0;
    user-select: none;
}

.advancedButton:hover {
    color: var(--colors-PrimaryBlue);
}

.advancedButton[disabled] {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
        color: var(--colors-ContrastBrightest);
    }
}

.advancedButtonIsOpen {
    border-right: unset;
}

.advancedButtonIsOpen::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 1px;
    background: var(--colors-ContrastDark);
}

.checkboxLabel {
    display: flex;
}

.checkboxColumns {
    display: grid;
    gap: var(--spacing-Full);
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}
