
.advanced {
    margin-top: 1rem;
}

.advancedContents {
    background: var(--colors-ContrastDarkest);
    border: 1px solid var(--colors-ContrastDark);
    padding: 1rem;
}

.advancedButton {
    height: var(--spacing-GoldenUnit);
    padding: 0 var(--spacing-Full);
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    line-height: var(--spacing-GoldenUnit);
    background: var(--colors-ContrastDarkest);
    user-select: none;

    border: 1px solid var(--colors-ContrastDark);
    position: relative;
}

.advancedButton:hover {
    color: var(--colors-PrimaryBlue);
}

.advancedButtonDisabled {
    composes: advancedButton;

    opacity: .5;
    cursor: not-allowed;

    &:hover {
        color: var(--colors-ContrastBrightest);
    }
}

.advancedButtonIsOpen {
    composes: advancedButton;

    border-bottom: unset;
    /* hide the top border of the advanced contents below partially */
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        bottom: -1px;
        background: var(--colors-ContrastDarkest);
        left: 0;
        position: absolute;
    }
}

.checkboxLabel {
    display: flex;
}
