.toolBar {
    display: flex;
    background: var(--colors-PrimaryBlue);
    position: relative;
}

.toolBar__btnGroup {
    display: flex;
    background: transparent;
}

.toolBar__btnGroupVertical {
    display: flex;
    flex-direction: column;
}

/* TODO: Try to implement stickyness without JS */
/*@position-try --toolbar-sticky {*/
/*    top: calc(anchor(bottom) + 10px);*/
/*    bottom: auto;*/
/*}*/

.contextToolBar {
    z-index: var(--zIndex-NodeToolBar);
    anchor-name: --inline-ui-context-toolbar-anchor;
    position: absolute;
    position-anchor: --inline-ui-node-toolbar-anchor;
    right: calc(anchor(right) - 10px - 2px);
    bottom: calc(anchor(top) + 10px);
    /*position-try-fallbacks: --toolbar-sticky;*/
}

.contextToolBar--isSticky {
    position: fixed;
    top: 0 !important;
    bottom: auto;
    margin-top: 5px;
}

.contextToolbar__nodeLabel {
    display: flex;
    align-items: center;
    gap: 1ch;
    padding-left: 10px;
    font-size: var(--fontSize-Small);
}

.toolBar__contextMenuToggleWrapper {
}

.toolBar__contextMenuToggle {
    anchor-name: --inline-ui-node-context-menu-anchor;

    &:has(~ :popover-open) {
        background-color: var(--colors-PrimaryBlueHover);
    }
}

.toolBar__contextMenuToggle:focus {
    outline: 0;
}

@position-try --context-menu-align-right {
    left: auto;
    right: anchor(right);
    top: anchor(bottom);
}
.toolBar__contextMenu {
    width: max-content;
    position: absolute;
    position-anchor: --inline-ui-node-context-menu-anchor;
    left: anchor(left);
    top: anchor(bottom);
    margin: 0;
    padding: 0;
    background: var(--colors-PrimaryBlue);
    position-try-fallbacks: --context-menu-align-right;
}
