.toolBar {
    display: flex;
    background: var(--colors-PrimaryBlue);
    position: relative;
}

.toolBar__btnGroup {
    display: flex;
    background: transparent;
}

/**
 * Fallback if the structural toolbar is on top of the node and
 * does not fit on the left side of the context toolbar
 */
@position-try --structural-toolbar-align-right {
    left: anchor(left);
    bottom: anchor(top);
    position-area: none;
}
.structuralToolBar__popover {
    z-index: var(--zIndex-NodeToolBar);
    position: absolute;
    position-anchor: --inline-ui-context-toolbar-anchor;
    position-area: center left;
    position-try-fallbacks: --structural-toolbar-align-right;
}
.structuralToolBar__popover:hover {
    z-index: calc(var(--zIndex-NodeToolBar) + 2);
}

.structuralToolBar__popover--isBelow {
    position-anchor: --inline-ui-node-toolbar-anchor;
    position-area: bottom center;
    top: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    position-try-fallbacks: none;
}

.structuralToolBar__popover--isInside {
    position-anchor: --inline-ui-node-toolbar-anchor;
    position-area: center center;
    top: 10px;
    border: 2px solid white;
    position-try-fallbacks: none;
}
