
.container {
    display: grid;
    grid-gap: var(--spacing-Half);
    grid-template-columns: 20px 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: #141414;
    padding: var(--spacing-Half) var(--spacing-Full);
    height: 50px;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
