.toolBar {
    display: flex;
    background: var(--colors-PrimaryBlue);
    position: relative;
}
.toolBar__btnGroup {
    display: flex;
    background: transparent;
}
.toolBar__btnGroup__btn {
    display: flex;
    align-items: center;
    gap: 1ch;
    justify-content: space-between;

    &:hover {
        background-color: var(--colors-PrimaryBlueHover);
    }

    & svg {
        width: 1em;
    }
}

/* FIXME: Install https://github.com/oddbird/css-anchor-positioning?tab=readme-ov-file anchor polyfill to support all browsers */
.toolBar__anchor {
    position: absolute;
    anchor-name: --inline-ui-node-toolbar-anchor;
    pointer-events: none;
}
