.toolBar {
    display: flex;
    background: var(--colors-ContrastDarker);
    z-index: var(--zIndex-NodeToolBar);
    position: relative;
    margin: 0 5px;
    border: 2px solid var(--colors-PrimaryBlue);
    border-bottom: 0;
    transition: var(--transition-Fast) margin;
}
.toolBar__btnGroup {
    display: flex;
}
.toolBar__btnGroup__btn {
    &:hover {
        background-color: var(--colors-PrimaryBlue);
    }

    & svg {
        width: 1em;
    }
}

.toolBar__btnGroupVertical {
    display: flex;
    flex-direction: column;
}

.toolBar--isSticky {
    position: fixed;
    top: 0!important;
    margin-top: 5px;
    border-bottom: 2px solid var(--colors-PrimaryBlue);
}

.toolBar__contextMenuToggle {
    anchor-name: --inline-ui-node-context-menu-anchor;

    &:has(~ :popover-open) {
        background-color: var(--colors-PrimaryBlue);
    }
}

.toolBar__contextMenu {
    position: absolute;
    position-anchor: --inline-ui-node-context-menu-anchor;
    inset-inline-start: anchor(left);
    inset-block-start: anchor(bottom);
    margin: 0;
    padding: 0;
    background: var(--colors-ContrastDarker);
}

/* FIXME: Install https://github.com/oddbird/css-anchor-positioning?tab=readme-ov-file anchor polyfill to support all browsers */
.toolBar__anchor {
    position: absolute;
    anchor-name: --inline-ui-node-toolbar-anchor;
}

.toolBar__popover {
    position: absolute;
    left: anchor(--inline-ui-node-toolbar-anchor left);
    bottom: calc(anchor(--inline-ui-node-toolbar-anchor top) + 10px);
}
